

$u-VCard__org--font: bold 1em $sans-serif;

$u-lFooter--fontSize: .9rem;

$u-NavSite__level--mobileBorderColor: #888;
$u-NavSite__level--borderColor: #CCC3B8;

$u-NavSite__level--1--mobileColor--hover: #fff;
$u-NavSite__level--1--mobileColor--open: #fff;
$u-NavSite__level--X--mobileColor--hover: #fff;
$u-NavSite__level--X--mobileColor--open: #fff;

$u-NavSite__level--1--color--hover: #fff;
$u-NavSite__level--1--color--open: #fff;
$u-NavSite__level--X--color--hover: #fff;
$u-NavSite__level--X--color--open: #fff;

$u-Bio__title--font: italic normal 1em $sans-serif;
$u-Bio__title--color: #888;

$mainContentModule__header--font: bold 1.4em/1.2 $sans-serif;
$mainContentModule--font: 1em $sans-serif;

$u-BreadCrumbs__item__separator: #888;

$u-Menu__close--iconColor: #aaa;
$u-Menu__close--iconColorHoverFocus: #fff;
$u-Search__close--iconColor: #aaa;
$u-Search__close--iconColorHoverFocus: #fff;