@import "_imports";



/*	COLOR
	===== */

$imagesFolder: "http://localhost:8888/chsilverman/english/assets/images/css";
$imagesFolder: "../images/css";


a {
	color: #04afca;
}
a:visited {
	color: #76910c;
}
a:visited:hover,
a:hover {
	color: #db6625;
}
a:visited:active,
a:active {
	color: #000;
}
body {
	position: relative;

	background-image: url(../images/css/bg-stripes.gif), url(../images/css/bg-stripe-tile.jpg);
	position: relative;
	background-repeat: no-repeat, repeat;
	background-position: bottom left, top;
}
body:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border: 1em solid transparent;
	border-top: 1em solid #333;
	border-left: 1em solid #333;
}

html {
	padding-bottom: 18%; 
	
	background: #333 url(#{$imagesFolder}/bg-footer-art.jpg) no-repeat;
	background-size: 75%;
	background-position: 20% 100%;
}

.galleria-info-text a,
.galleria-info-text a:visited {
	color: #94E4FF;
}
.galleria-info-text a:hover,
.galleria-info-text a:visited:hover {
	color: #c33600;
}

.Module--filmStudents {
	& {
		border-top: 1px solid #ccc;
		padding-top: 1em;
		transition: all 0.5s ease;	
	}
	&:hover {
		opacity: .6;
	}
	.u-Figure__caption {
		color: #000;
	}
}
.Module__name {
    border-bottom: 2px solid #eee;
    padding-bottom: .5em;
}

.u-ArticleNavGroup__navButton--archive:hover,
.u-ArticleNavGroup__navButton--archive:visited:hover {
	color: #fff;
}

.u-lContent a {
	border-bottom: 1px solid #eee;
}
.u-lHeader {
	border: none;
	background: none;
}

.u-lMain {
	background: #fff;
	position: relative;
	z-index: 2;
}
	.u-Masthead__siteName--link,
	.u-Masthead__siteName--link:visited {
		font-weight: bold;
		color: #000;
		text-transform: uppercase;
		letter-spacing: -.05em;
	}
	
@media (min-width: $small) {
	.u-Masthead__siteName {
		background: #000;
	    display: inline-block;
	    padding-left: 2em;
	    margin-left: -2em;
	    padding-right: 2em;
	    position: relative;
	}
/*	.u-Masthead__siteName:after {
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		right: -3em;
		width: 3em;
		background: url(#{$imagesFolder}/corner.svg);
		background-size: cover;
	} */
	.u-Masthead__siteName--link,
	.u-Masthead__siteName--link:visited {
		color: #fff;
		position: relative;
	    -webkit-transition: all 0.25s ease-out;
	    transition: all 0.25s ease-out;
	}
	.u-Masthead__siteName--link:hover,
	.u-Masthead__siteName--link:visited:hover {
		-webkit-filter: blur(5px);
		filter: blur(5px);
		color: #aaa;
	}
	.u-Masthead__siteName--link:before {
		background: url(#{$imagesFolder}/masthead-colors.gif) repeat-x top left;
	    background-size: cover;
	    position: absolute;
	    width: .12em;
	    height: .72em;
	    content: "";
	    top: .4em;
	    left: -.15em;
	}
	.u-Masthead__siteName--link:hover:before {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
}
.u-Masthead__vassar--link,
.u-Masthead__vassar--link:visited {
	color: #aaa;
}
.u-Masthead__vassar--link:hover {
	color: #fff;
}

.u-NavSite__item,
.u-NavSite__item:visited {
	color: #000;
}
.u-NavSite__item:hover {
	color: #db6625;
}

.u-Search {
	border: 2px solid #000;
}

@media (min-width: $small) {
	.u-pageHome {
		.u-lMain:before {
			content: "";
			position: absolute;
			height: 1em;
			width: 100%;
			background-color: #fff;
			left: 0;
			top: -1em;
			z-index: 2;
			border-top: 4px solid #ccc;
		}
	}
	.u-Masthead__siteName:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    height: 0;
	    width: 0;
	    left: 100%;
	    border: 1.1em solid transparent;
	    border-top: 1.1em solid #000;
	    border-left: 1.1em solid #000;
	}
	
	.u-NavSite__item.u-NavSite__item--isCurrent,
	.u-NavSite__item.u-NavSite__item--isCurrent:visited,
	.u-NavSite__item:hover,
	.u-NavSite__item:visited:hover {
		background: #000;
		color: #fff;
		padding-left: .25em;
	}
}

@media (min-width: $medium) {
	.u-lMain:before {
		height: 2em;
		top: -2em;
	}
}

@media (min-width: $large) {
	.u-Masthead__siteName:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    height: 0;
	    width: 0;
	    left: 100%;
	    border: 1.2em solid transparent;
	    border-top: 1.2em solid #000;
	    border-left: 1.2em solid #000;
	}
}


/* ---- */

.u-lMain {
    margin-top: 1em;
    border-top: 4px solid #8a0;
    box-shadow: 0 4px 20px rgba(0,0,0,.3);
}
@media (min-width: $small) {
	.u-lMain {
	    padding-top: 8em;
	}
}
@media (min-width: $large) {
	.u-lMain {
	    width: 78%;
	}
}


.u-lMain:before {
    display: none;
}

.u-lHeader {
    z-index: 999;
}

h1.u-Masthead__siteName {
    z-index: 99;
}


/*	Module basics
	============= */


.Module__list,
.Module__subList {
	margin: 0;
	padding: 0;
	list-style: none;
}




/*	Festivals
	========= */


.Module__headerLink,
.Module__headerLink:visited {
	color: #000;
	border: none !important;
}
.modulesArea {
	& {
		margin-top: 1.4em;
	}
	.Module__listItem {
		border-top: 1px solid #eee;
		padding-top: .25em;
		margin-top: .25em;
	}

	.modulesArea__row {
		overflow: hidden;
	}
	@media (min-width: $medium) {
		.Module--halfWidth {
			width: 50%;
		}
		.Module--halfWidth:nth-child(1) {
			float: left;
			padding-right: 3%;
		}
		.Module--halfWidth:nth-child(2) {
			float: right;
			padding-left: 3%;
		}
	}
	.Module {
		margin-bottom: 1.4em;
	}
/*	.Module__list > .Module__listItem:last-child {
		font: bold .8em $sans-serif;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-top: 1.4em;
	} */
	.Module__subList {
		text-transform: none;
		letter-spacing: normal;
		font-weight: normal;
		font-size: .85em;
		margin-top: .5em;
		border-left: 2px solid #eee;
		padding-left: .75em;
	}
	.Module__subList .Module__listItem {
		font-weight: bold;
		border-top: 1px solid #eee;
	}
	.Module__subList .Module__listItem:first-child {
		border: none;
	}
	.Module__title {
		font-weight: bold;
		display: block;
		line-height: 1.2;
	}
	.Module__desc {
		font-style: italic;
		display: block;
		/* margin-top: -.25em; */
		color: #888;
	}
}


















