/*	CONFIG
	====== */
/*	TYPOGRAPHY
	========== */
/*	LAYOUT
	====== */
/* Site breakpoints */
/* 400px divided by 16px */
/* 600px divided by 16px */
/* 800px divided by 16px */
/* 1000px divided by 16px */
/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */
/* COLOR
	====== */
/* Basic link colors - these colors also affect the Google Search result link colors */
/* tint($linkColorVisited, 50%) or shade($linkColorVisited, 50%) can be used to lighten or darken hue */
/* MODULES
	======== */
/* Bios */
/* Breadcrumbs  */
/* Footer */
/* Images */
/*	Google search results  */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/* Nav */
/* level 3 covers Level 3 and up. */
/* LATEST Modules basic */
/* Use these variables to place a bg color on side news announcement items */
/* News  */
/* Not sure all these color settings are necessary
$u-ArticleListItem__label--type--color:;
$u-ArticleListItem__label--dateline__posted--color:;
$u-ArticleListItem__label--dateline__postedDate--color:f; */
/* LATEST Moved to Module Basic above
$u-NewsList__itemContainer--margin: 1em 0;
$u-NewsList__item--background: transparent;
$u-NewsList__item--padding: 0; */
/*	Search
	------ */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/* $MenuBtnColor--activated: #000; */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
/* Don't modify these */
/*	COLOR
	===== */
/* line 10, ../sass/color copy.scss */
a {
  color: #04afca; }

/* line 13, ../sass/color copy.scss */
a:visited {
  color: #76910c; }

/* line 16, ../sass/color copy.scss */
a:visited:hover,
a:hover {
  color: #db6625; }

/* line 20, ../sass/color copy.scss */
a:visited:active,
a:active {
  color: #000; }

/* line 24, ../sass/color copy.scss */
.u-lContent a {
  border-bottom: 1px solid #eee; }

/* line 28, ../sass/color copy.scss */
html {
  /* background: url(../images/css/background.jpg) repeat-x; */
  /* background: #333 url(../images/css/rainbow_gray.gif) no-repeat top right; */
  background-attachment: fixed;
  padding-bottom: 18%;
  background-image: url(../images/css/rainbow_gray.gif), url(../images/css/bg-footer-art.jpg);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, scroll;
  background-position: top right, 20% 100%;
  background-size: 50%, 75%; }

/* line 39, ../sass/color copy.scss */
body {
  overflow: hidden;
  background: #f6f2ed url(../images/css/rainbow_white.gif) no-repeat top right;
  background-attachment: fixed;
  background-size: 50%; }

/* line 45, ../sass/color copy.scss */
.u-lHeader {
  background: #000 url(../images/css/rainbow_black.gif) top right no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: 50%; }

/* line 51, ../sass/color copy.scss */
.u-lMain {
  background: #fff;
  position: relative;
  z-index: 2; }

@media (min-width: 37.5em) {
  /* line 57, ../sass/color copy.scss */
  .u-lMain {
    border-top: 4px solid #ccc; }

  /* line 61, ../sass/color copy.scss */
  .u-pageHome .u-lMain:before {
    content: "";
    position: absolute;
    height: 1em;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: -1em;
    z-index: 2;
    border-top: 4px solid #ccc; } }
@media (min-width: 50em) {
  /* line 75, ../sass/color copy.scss */
  .u-lMain:before {
    height: 2em;
    top: -2em; } }
/*	Modules
	------- */
/* line 85, ../sass/color copy.scss */
.Module__name {
  border-bottom: 2px solid #eee;
  padding-bottom: .5em; }

/*	Masthead
	-------- */
/* line 94, ../sass/color copy.scss */
.u-Masthead__siteName--link,
.u-Masthead__siteName--link:visited {
  color: #fff;
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

/* line 101, ../sass/color copy.scss */
.u-Masthead__siteName--link:hover,
.u-Masthead__siteName--link:visited:hover {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  color: #aaa; }

/*
.u-Masthead__siteName--link:before {
	background: url(../images/css/masthead-colors.gif) repeat-x top left;
	background-size: contain;
	position: absolute;
	width: .5em;
	height: .72em;
	content: "";
	top: .4em;
	left: -.6em;
}
*/
/* line 120, ../sass/color copy.scss */
.u-Masthead__siteName--link:before {
  background: url(../images/css/masthead-colors.gif) repeat-x top left;
  background-size: cover;
  position: absolute;
  width: .12em;
  height: .72em;
  content: "";
  top: .4em;
  left: -.15em; }

/* line 132, ../sass/color copy.scss */
.u-Masthead__siteName--link:hover:before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

/* line 136, ../sass/color copy.scss */
.u-Masthead__vassar--link,
.u-Masthead__vassar--link:visited {
  color: #aaa; }

/* line 140, ../sass/color copy.scss */
.u-Masthead__vassar--link:hover {
  color: #fff; }

/*	Navigation
	---------- */
/* line 149, ../sass/color copy.scss */
.u-NavSite__item,
.u-NavSite__item:visited {
  color: #000; }

/* line 153, ../sass/color copy.scss */
.u-NavSite__item:hover {
  color: #db6625; }

/*	This fills in the area under u-lMain if nav
	is longer than main-area content. */
@media (min-width: 37.5em) {
  /* line 164, ../sass/color copy.scss */
  .u-NavSite {
    position: relative; }

  /* line 167, ../sass/color copy.scss */
  .u-NavSite:after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 100%;
    z-index: 1; } }
@media (min-width: 50em) {
  /* line 178, ../sass/color copy.scss */
  .u-NavSite:after {
    width: 410%; } }
@media (min-width: 62.5em) {
  /* line 183, ../sass/color copy.scss */
  .u-NavSite:after {
    width: 395%; } }
/*	News
	---- */
/* line 192, ../sass/color copy.scss */
.u-ArticleNavGroup__navButton--archive:hover,
.u-ArticleNavGroup__navButton--archive:visited:hover {
  color: #fff; }

/*	HP
	== */
/* line 201, ../sass/color copy.scss */
.u-pageHome .u-lHeader {
  height: 12em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url(../images/css/rainbow_brite.png), url(../images/css/filmstrip.jpg);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, scroll;
  background-position: top right, bottom left;
  background-size: 50%, auto; }

/* line 215, ../sass/color copy.scss */
.Module--filmStudents {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  transition: all 0.5s ease; }
/* line 220, ../sass/color copy.scss */
.Module--filmStudents:hover {
  opacity: .6; }
/* line 223, ../sass/color copy.scss */
.Module--filmStudents .u-Figure__caption {
  color: #000; }

/* line 228, ../sass/color copy.scss */
.galleria-info-text a,
.galleria-info-text a:visited {
  color: #94E4FF; }

/* line 232, ../sass/color copy.scss */
.galleria-info-text a:hover,
.galleria-info-text a:visited:hover {
  color: #c33600; }
