/*	CONFIG
	====== */
/*	TYPOGRAPHY
	========== */
/*	LAYOUT
	====== */
/* Site breakpoints */
/* 400px divided by 16px */
/* 600px divided by 16px */
/* 800px divided by 16px */
/* 1000px divided by 16px */
/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */
/* COLOR
	====== */
/* Basic link colors - these colors also affect the Google Search result link colors */
/* tint($linkColorVisited, 50%) or shade($linkColorVisited, 50%) can be used to lighten or darken hue */
/* MODULES
	======== */
/* Bios */
/* Breadcrumbs  */
/* Footer */
/* Images */
/*	Google search results  */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/* Nav */
/* level 3 covers Level 3 and up. */
/* LATEST Modules basic */
/* Use these variables to place a bg color on side news announcement items */
/* News  */
/* Not sure all these color settings are necessary
$u-ArticleListItem__label--type--color:;
$u-ArticleListItem__label--dateline__posted--color:;
$u-ArticleListItem__label--dateline__postedDate--color:f; */
/* LATEST Moved to Module Basic above
$u-NewsList__itemContainer--margin: 1em 0;
$u-NewsList__item--background: transparent;
$u-NewsList__item--padding: 0; */
/*	Search
	------ */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/* $MenuBtnColor--activated: #000; */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
/* Don't modify these */
/*	TYPOGRAPHY
	========== */
/* Elements */
/* line 9, ../sass/typography.scss */
a {
  padding-bottom: 0; }

/* line 12, ../sass/typography.scss */
html {
  font-family: "lato", Helvetica, Arial, sans-serif; }

/* line 15, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 0.168em;
  margin-top: 0; }

/* line 20, ../sass/typography.scss */
h1 {
  font-size: 2em;
  font-weight: 100; }

/* line 24, ../sass/typography.scss */
h2 {
  font-size: 2.6em;
  margin-top: 0;
  position: relative;
  margin-bottom: .5em;
  font-weight: 200;
  line-height: 1; }

/* line 32, ../sass/typography.scss */
h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: .5em; }

/* line 37, ../sass/typography.scss */
h4 {
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em; }

/* line 43, ../sass/typography.scss */
h5 {
  font-size: .9em;
  font-weight: normal;
  font-style: italic; }

/* line 48, ../sass/typography.scss */
h6 {
  font-size: .8em; }

/* line 51, ../sass/typography.scss */
.u-lContent {
  font-size: 1.1em;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1.25em; }

/* line 59, ../sass/typography.scss */
ul,
ol {
  margin: .64em 0; }

/* line 63, ../sass/typography.scss */
p {
  margin-top: 0;
  line-height: 1.45; }

/* line 67, ../sass/typography.scss */
th {
  font-weight: bold; }

/* line 71, ../sass/typography.scss */
td {
  font-weight: 400; }

/* line 75, ../sass/typography.scss */
li {
  margin: 0 0 0.327em; }

/* Main page content */
/* line 81, ../sass/typography.scss */
.u-lMain {
  font-size: 100%; }

/* u-lAside sidebar styles */
/* line 89, ../sass/typography.scss */
.u-lAside h1 {
  font-size: 1.953em; }
/* line 93, ../sass/typography.scss */
.u-lAside h2 {
  font-size: 1.4em;
  font-weight: normal; }
/* line 98, ../sass/typography.scss */
.u-lAside h3 {
  font-size: 1.25em; }
/* line 102, ../sass/typography.scss */
.u-lAside h4 {
  font-size: .9em; }
/* line 106, ../sass/typography.scss */
.u-lAside h5 {
  font-size: .9em; }
/* line 110, ../sass/typography.scss */
.u-lAside p,
.u-lAside ol,
.u-lAside ul {
  font-size: .95em;
  line-height: 1.2;
  font-weight: 400; }
/* line 118, ../sass/typography.scss */
.u-lAside ul,
.u-lAside ol {
  margin-bottom: 0.64em; }
/* line 123, ../sass/typography.scss */
.u-lAside li {
  margin-bottom: 0.327em;
  line-height: 1.2; }
/* line 128, ../sass/typography.scss */
.u-lAside .Module .Module__header {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-bottom: 1em; }

/*	Bios
	---- */
/* line 141, ../sass/typography.scss */
.u-Bio__contactItemLabel {
  font: 900 .75em lato;
  text-transform: uppercase;
  letter-spacing: .05em; }

/*	News
	---- */
/* line 151, ../sass/typography.scss */
.u-ArticleListItem__title {
  text-transform: none;
  letter-spacing: normal; }

/*	Masthead
	-------- */
@media (min-width: 37.5em) {
  /* line 161, ../sass/typography.scss */
  .u-Masthead__siteName--link {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.6em; }

  /* line 166, ../sass/typography.scss */
  .u-Masthead__vassar--link b,
  .u-Masthead__vassar--link:visited b {
    color: #000;
    display: block;
    font-weight: bold;
    margin-top: .7em;
    text-transform: uppercase; }

  /* line 174, ../sass/typography.scss */
  .u-Masthead__vassar--link:hover b,
  .u-Masthead__vassar--link:visited:hover b {
    color: #aaa; } }
/* line 179, ../sass/typography.scss */
.Module--filmStudents .u-Figure__caption {
  font-size: 1.2em;
  font-weight: 100; }

/* line 184, ../sass/typography.scss */
.u-Masthead__siteName--link {
  font-size: 2em; }

/* line 188, ../sass/typography.scss */
.icon-youtube {
  font-size: 1em; }

@media (min-width: 62.5em) {
  /* line 193, ../sass/typography.scss */
  .u-Masthead__siteName--link {
    font-size: 2.2em; } }
/* line 201, ../sass/typography.scss */
.u-NavSite__item.icon-youtube {
  font-size: 1em; }
